@import '../App.css';

.input-primary{
    border-radius: 5px;
    padding:5px;
    margin:10px;
    outline:none;
    width:100%;
    text-align: center;
    font-weight: 800;
    font-size: large;
}

.btn-primary{
    border-radius: 30px;
    padding:10px;
    outline:none;
    text-decoration: none;
    border:none;
    font-weight: 600;
    font-size: large;
    color: var(--text-primary);
    background-image: linear-gradient(to right, var(--theme-primary), var(--theme-secondary));
}