@import '../App.css';

.dashboard-container{
    display: none;
}

.inbox-container-large-landing{
    display:none;
}

@media (min-width:500px){

    .dashboard-container{
        display: inline;
        width:75%;
    }

    .inbox-container-large-landing{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:100%;
        background-color: rgb(39, 39, 39);
        height:90vh;
    }
}
