@import '../App.css';

/*  For individual thread containers */
.thread-item{
    
    width:100%;
    min-height:50px;
    padding:5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    border-top:1px var(--theme-primary);
    border-bottom: 1px var(--theme-primary);
}


/* For container holding list of all threads */
.thread-container-wrapper{
    width:100%;
    /* display:none; */
    height:100vh;
/*     background-color: var(--background-secondary); */
    overflow-y: scroll;
}

.thread-container-wrapper.active{
    display:block;
}

.thread-container{

    border:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
}



@media (min-width:500px){

    .thread-container-wrapper{
        width:25%;
        display:inline;
    }

    .thread-container{
        width:400px;
        margin-left:25px;
    }
}