:root{
 /* --background:rgb(52, 52, 52); */
 --background:rgb(39, 39, 39);
 --background-secondary:rgb(52, 52, 52);
 --theme-primary:rgb(140, 140, 144); /* #8c8c90*/
 --theme-secondary:rgb(236, 236, 236);
 --alert:rgb(146, 7, 7);
 --text-primary:rgb(239, 239, 242);
 --text-secondary:rgb(236, 236, 236);
}

body{
  background-color: var(--background);
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--background);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--background);
} 

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

div::-webkit-scrollbar-thumb {
  background: var(--theme-primary);
}

div::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}

a {
  text-decoration: none;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.temp{
  border:solid 2px lime;
}

.app-container{
  display: flex;
  flex-wrap: nowrap;
  height:85vh;
}